*.zig text eol=lf

*.zig linguist-language=Zig
*.c linguist-vendored
*.nim linguist-vendored
*.lua linguist-vendored
src/libc/** linguist-vendored
src/libzig/** linguist-vendored
examples/glfw_opengl3_imguicolortextedit/main.cpp linguist-vendored
Makefile linguist-vendored
